:root {
  --primary: #4fc3f7;
  --secondary: #7c4dff;
  --p-light: #8bf6ff;
  --p-dark: #0093c4;
  --s-dark: #3f1dcb;
  --s-light: #b47cff;
  --p-text: #0e0e0e;
  --s-text: #f0f0f0;
  --p-font: 'Inter', sans-serif;
  --s-font: 'Open Sans', sans-serif;
}